/* rese.css랑 하나로 합쳤습니다 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
	color : black;
  text-decoration-line: none;
}
a:visited {
	color : black;
  }
a:hover {
	color : black;
  }
a:active {
	color : black;
  }
body li, ol, ul {
	list-style: none;
}


@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap');
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* color */
    --header-color: #E8DACF; /* 헤더 배경 */
    --menu-color: rgba(52, 42, 31, 0.9); /* 헤더 메뉴 글씨 */
    --main-color-1: #CC9998; /* 레시피 테두리 (선택 전) */
    --main-color-2: #A44845; /* 레시피 테두리 (선택 후) */
    --sub-color-2: #FAF6F6; /* 레시피 배경 (선택 전) */
    --sub-color-2: #F7F5EA; /* 레시피 배경 (선택 후) */
    --jg-color: #FFCD47; /* 장금이 레시피 배경 */
    --recipe-color-1: #741C13; /* 레시피 이름, 날짜 글씨 */
    --recipe-color-2: #2C2B2B; /* 레시피 설명 글씨 */

    /* font-family */
    --main-font: 'Yeon Sung'; /* 헤더, "전체(장금이) 레시피 보기", "레시피 추가하러 가기", (로그인/회원가입 폼?) */
    --sub-font: 'Gowun Batang'; /* "레시피조회", 재료 */
    --ingredient-font: 'Nanum Brush Script'; /* 메인 페이지 재료 입력 */
    --recipe-font: 'Ansungtangmyun-Bold'; /* 레시피 */

    /* size */
    --line-size: 1rem; /* 헤더밑 & 페이지 나누는 선 넓이 */
}

body {
    background: url("../image/장금이배경.png") repeat;
    color: black;
    font-family: var(--main-font);
    font-size: 2rem; /* 디폴트 폰트 사이즈가 너무 작아서 대충 2rem으로 설정했는데 변경이 필요하면 변경해도 됩니다. */
}

header {
  width: 100vw;
  position: sticky;
}

.header_main {
  background-color: var(--header-color);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
}

.nav_logo {
  padding: 1rem;
}

.nav_logo a {
  color: var(--recipe-color-1);
}

.nav {
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}

.nav a {
  position: relative;
}

.nav img {
  width: 2rem;
}

.nav_menu_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: var(--menu-color);
  writing-mode: vertical-lr;
}

.header_line {
  width: 100vw;
  height: var(--line-size);
  display: flex;
  flex-direction: row;
}

.header_line_left {
  width: 20%;
  height: var(--line-size);
  background-color: var(--main-color-1);
}

.header_line_right {
  width: 80%;
  height: var(--line-size);
  background-color: var(--main-color-2);
}

/* ==================== */

/* #modal .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10;
}
#modal .modal-window {
  background: rgba( 69, 139, 197, 0.70 );
  
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
}
#modal .title {
  padding-left: 10px;
  display: inline;
  color: white;
  
}
#modal .title h2 {
  display: inline;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  color: white;
} */

/* 모달 */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
