/* reset.css랑 하나로 합쳤습니다 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: black;
  text-decoration-line: none;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
body li,
ol,
ul {
  list-style: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap");
@font-face {
  font-family: "Ansungtangmyun-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --header-color: #e8dacf; /* 헤더 배경 */
  --menu-color: rgba(52, 42, 31, 0.9); /* 헤더 메뉴 글씨 */
  --main-color-1: #cc9998; /* 레시피 테두리 (선택 전) */
  --main-color-2: #a44845; /* 레시피 테두리 (선택 후) */
  --sub-color-2: #faf6f6; /* 레시피 배경 (선택 전) */
  --sub-color-2: #f7f5ea; /* 레시피 배경 (선택 후) */
  --jg-color: #ffcd47; /* 장금이 레시피 배경 */
  --recipe-color-1: #741c13; /* 레시피 이름, 날짜 글씨 */
  --recipe-color-2: #2c2b2b; /* 레시피 설명 글씨 */
  --ingredient-color: #ab7b58; /* 자동완성 선택 시 바뀌는 글자 색상 */
  --google-color-1: #1a73e8; /* 구글 로그인 페이지에 쓸 색상 */
  --google-color-2: #7ca6dc; /* 구글 로그인 페이지에 쓸 색상 */

  /* font-family */
  --main-font: "Yeon Sung"; /* 헤더, "전체(장금이) 레시피 보기", "레시피 추가하러 가기", (로그인/회원가입 폼?) */
  --sub-font: "Gowun Batang"; /* "레시피조회", 재료 */
  --ingredient-font: "Nanum Brush Script"; /* 메인 페이지 재료 입력 */
  --recipe-font: "Ansungtangmyun-Bold"; /* 레시피 */
  --main-box-shadow: 0.4rem 0.2rem 0.2rem #81818177; /* 메인 페이지 상자 그림자 효과 */
  --main-text-shadow: -0.2rem 0.2rem 0.5rem #81818177; /* 메인 페이지 글자 그림자 효과 */
  --header-giwa-shadow: 0.2rem 0.3rem 1.2rem #585858b4; /* 메인 페이지 글자 그림자 효과 */

  /* size */
  --line-size: 1rem; /* 헤더밑 & 페이지 나누는 선 넓이 */
  --login-form-font: 1rem;
}

body {
  width: 100vw;
  /* background: url("../image/장금이배경_수정.png") repeat; */
  background-color: rgb(254, 253, 246);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  font-family: var(--main-font);
  font-size: 2rem; /* 디폴트 폰트 사이즈가 너무 작아서 대충 2rem으로 설정했는데 변경이 필요하면 변경해도 됩니다. */
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
}

.header_main {
  background-color: var(--header-color);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
  padding-top: 0.2rem;
}

.nav_logo {
  padding: 0.5rem;
}

.nav_logo img {
  margin-left: 1rem;
  width: 15rem;
}

.nav_logo a {
  color: var(--recipe-color-1);
}

.nav {
  padding: 0.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.nav li {
  margin-left: 0.4rem;
  position: relative;
}

.nav_menu_img img {
  width: 2.8rem;
}

.nav_menu_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 8rem;
  transform: translate(-50%, -52%);
  text-align: center;
}

.nav_menu_text span {
  color: var(--menu-color);
  writing-mode: vertical-lr;
  height: 100%;
  letter-spacing: -0.1rem;
  font-size: 1.6rem;
}

.header_line {
  width: 100vw;
  height: var(--line-size);
  display: flex;
  flex-direction: row;
}

.header_line_left {
  width: 20%;
  height: var(--line-size);
  background-color: var(--main-color-1);
}

.header_line_right {
  width: 80%;
  height: var(--line-size);
  background-color: var(--main-color-2);
}
