@import "base.css";

.hidden {
  display: none;
}

.each_recipe {
  text-align: center;
  font-size: medium;
  position: relative;
}

img {
  width: 100px;
}

.recipe_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15rem;
  background: url("../image/메뉴판\(장금\).png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 19rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.delete_update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  width: 15rem;
  margin-left: 10.5%;
}


.recipe_content button {
  border: none;
  background-color: transparent;
}

.user_who_write {
  display: flex;
  justify-content: center;
  /* position: absolute;
  margin-left: 168px;
  margin-bottom: 236px;
  font-weight: 800; */
}

.fa-regular {
  font-weight: bold;
  margin-top: 9px;
  margin-right: 6px;
}

.like_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete,
.update {
  width: 5rem;
  height: 2rem;
  background-color: var(--main-color-2);
  border: 0;
  outline: none;
  font-family: var(--sub-font);
  font-size: small;
  /* font-size: var(--login-form-font); */
  font-weight: 700;
  color: white;
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.delete {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.one_ingredient {
  background-color: #dcb7b7;
  width: max-content;
  padding: 0 9%;
}

#search_box,
.comment_main {
  height: 40px;
  width: 400px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
  border-radius: 10px;
  margin-left: 1rem;
}

.all_recipe_box {
  height: calc(100vh - 250px );
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  overflow-x: none;
  -ms-overflow-style: none;
}

.all_recipe_box::-webkit-scrollbar{
  display: none;
}


.search_input,
#content_id {
  width: 320px;
  padding: 1px;
  border: 0;
  outline: none;
  float: left;
  font-size: 16px;
}

.search_button {
  width: 50px;
  height: 100%;
  border: 0;
  background-color: var(--main-color-2);
  outline: 0;
  float: right;
  color: white;
  font-size: small;
  border-radius: 10px;
  border: 2px solid #ffff;
}

#comment_write {
  background-color: var(--main-color-2);
  outline: 0;
  color: white;
  font-size: medium;
  border-radius: 10px;
  width: 2.3rem;
  height: 2.4rem;
  border: none;
}

.sort_search {
  display: flex;
  margin: 2.5rem 0 0 1rem;
  flex-direction: row;
}

#list_container {
  background: url("../image/menu\ board.png");
  background-repeat: none;
  background-size: cover;
  border-radius: 0.5rem;
}

.both_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.backgorundcolor {
  display: flex;
  flex-direction: column;
}

.post_content {
  font-weight: 600;
  font-size: initial;
  width: 20rem;
  height: 14rem;
  font-family: var(--sub-font);
  -ms-overflow-style: none;
}

.post_content::-webkit-scrollbar{
  display: none;
}

.line_vertical {
  display: flex;
  margin-left: 1rem;
  margin-right: 2rem;
}

.line_vertical_1 {
  height: 15rem;
  background-color: var(--main-color-1);
  width: var(--line-size);
  position: relative;
  bottom: 15rem;
  left: var(--line-size);
}

.line_vertical_2 {
  background-color: var(--main-color-1);
  width: var(--line-size);
}

.detail_middle,
.detail_top,
.detail_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detail_middle img {
  height: auto;
  width: 135px;
  margin-left: 38%;
}

.post_created {
  margin: 2.5rem -4rem 0 -3.5rem;
}

@media (max-width: 1500px) {
  #search_box {
    width: 200px;
  }

  .search_input {
    width: 140px;
  }

  .all_recipe_box {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1300px) {
  .sort_search {
    margin: 2.5rem 0 0 1rem;
    flex-direction: column;
    align-items: baseline;
  }

  .all_recipe_box {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .sort_search :nth-child(1) {
    margin-bottom: 1rem;
  }

  #sort_box {
    margin-top: 1rem;
  }
}

@keyframes recipe-ani-hover {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -0.25rem);
  }
}

@keyframes recipe-ani-back {
  0% {
    transform: translate(0, -0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.recipe_content:hover {
  animation: recipe-ani-hover 0.5s;
  animation-fill-mode: forwards;
}

.recipe_content:not(:hover) {
  animation: recipe-ani-back 0.5s;
  animation-fill-mode: forwards;
}

.recipe_title button:hover {
  color: var(--main-color-2);
  cursor: pointer;
}

.recipe_content > button {
  display: flex;
  align-items: center;
  background-color: transparent;
  top: 1.2rem;
  left: 1rem;
}

.recipe_content > button > i {
  margin-right: 0.4rem;
}

/* main 추가 */
.recipe_content .ingredient_container {
  width: 11rem;
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
}

.recipe_content .one_ingredient {
  padding: 0 0.5rem;
}

.ingredient_container {
  justify-content: center;
  color: white;
  font-family: var(--sub-font);
  font-size: smaller;
}

.detail_top .ingredient_container {
  width: 15rem;
  overflow: auto;
  white-space: nowrap;
  padding: 0.3rem 0;
  margin-right: 1rem;
  margin-top: -0.2rem;
}

.one_ingredient {
  display: inline-block;
  text-align: center;
}
/* main -- */
/* kgoni 추가 */
.user_who_write {
  width: max-content;
  margin: -0.8rem 0 0.3rem 5rem;
  font-size: initial;
}
/* kgoni -- */
.scroll_list_container{
  height: calc(100vh - 250px);
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.scroll_list_container::-webkit-scrollbar{
  display:none;
}

.jomiryo {
  font-size: 1rem;
  margin-left: 5rem;
  margin-top: -1.2rem;
  color: var(--ingredient-color);
  filter: drop-shadow(var(--main-text-shadow));
}

.ingredient_container::-webkit-scrollbar {
  height: 0.5rem;
}

.ingredient_container::-webkit-scrollbar-thumb {
  background-color: var(--main-color-2);
}

.ingredient_container::-webkit-scrollbar-track {
  background-color: var(--main-color-1);
}

.recipe_content .ingredient_container {
  overflow: hidden;
  height: 2rem;
  display: inline;
}

.recipe_content .one_ingredient {
  white-space: nowrap;
}

.delete_button {
  background-color: var(--main-color-2);
}

.delete_button:hover {
  background-color: var(--main-color-1);
  cursor: pointer;
}