@import "base.css";

header {
    width: 100vw;
    height: 12rem;
    position: sticky;
}

.header_giwa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.giwa_img {
    width: 100vw;
    max-height: 12rem;
    min-height: 6rem;
    filter: drop-shadow(var(--header-giwa-shadow));
}

.giwa_logo_container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giwa_logo {
    width: 15rem;
    margin: 0;
}

.member_form {
    margin: 2rem;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > * {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

input, input:focus, input::placeholder {
    background-color: white;
    border: 0;
    outline: none;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    width: 12rem;
    height: 2rem;
    padding: 0.5rem 1rem;
}

button, input[type=submit] {
    width: 14rem;
    height: 4rem;
    background-color: var(--main-color-2);
    border: 0;
    outline: none;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    font-weight: 700;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

button:hover, input[type=submit]:hover {
    background-color: var(--main-color-1);
}

.google_login_btn a, .signup_btn a, .home_btn a {
    cursor: default;
    color: white;
}

.helptext {
    padding-top: 0.4rem;
    opacity: 0.5;
    font-size: 0.9rem;
}

br {
    display: none;
}

#section_success {
    text-align: center;
    margin: 5rem;
    font-family: var(--sub-font);
}

.success_message {
    font-size: 1.5rem;
}

#signup_fail {
    font-size: 1.5rem;
    color: red;
}


/* 구글 소셜 로그인, 회원가입 */

#google_main_section {
    margin-top: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    line-height: 3rem;
    font-family: var(--sub-font);
    font-weight: 700;
    font-size: 1.4rem;
}

.google_main_div {
    width: 50rem;
    text-align: center;
}

.page_title p {
    padding: 2rem;
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 400;
    text-shadow: var(--main-text-shadow);
}

#google_main_section h1 {
    color: var(--google-color-1);
}

#google_main_section button {
    background-color: var(--google-color-1);
}

#google_main_section button:hover {
    background-color: var(--google-color-2);
}