@import "base.css";

header {
    width: 100vw;
    height: 12rem;
    position: sticky;
}

.header_giwa img {
    width: 100vw;
    max-height: 12rem;
    filter: drop-shadow(var(--header-giwa-shadow));
}

.member_form {
    margin: 2rem;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > * {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

input, input:focus, input::placeholder {
    background-color: white;
    border: 0;
    outline: none;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    width: 12rem;
    height: 2rem;
    padding: 0.5rem 1rem;
}

button, input[type=submit] {
    width: 14rem;
    height: 4rem;
    background-color: var(--main-color-2);
    border: 0;
    outline: none;
    font-family: var(--sub-font);
    font-size: var(--login-form-font);
    font-weight: 700;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

button:hover, input[type=submit]:hover {
    background-color: var(--main-color-1);
}

.google_login_btn a, .signup_btn a {
    cursor: default;
    color: white;
}

.helptext {
    padding-top: 0.4rem;
    opacity: 0.5;
    font-size: 0.9rem;
}

br {
    display: none;
}

#section_success {
    text-align: center;
    margin: 5rem;
}