@import "base.css";

.main_contents {
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#main_section_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.recipe_view_all a,
.recipe_view_jang a {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 2rem;
  font-size: var(--main-font-size);
}

.recipe_view_all img,
.recipe_view_jang img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  filter: drop-shadow(var(--main-text-shadow));
}

.recipe_view_all span,
.recipe_view_jang span {
  margin-bottom: 1rem;
  text-shadow: var(--main-text-shadow);
}

#main_section_2 {
  text-align: center;
}

.main_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#main_explain {
  background-color: #daacaf;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  color: white;
  font-family: var(--sub-font);
}

#main-add img {
  height: 6rem;
  filter: drop-shadow(var(--main-text-shadow));
}

#main-add {
  border: 0;
  background-color: transparent;
}

#main_add span {
  color: var(--ingredient-color);
  font-size: 1rem;
  font-family: var(--sub-font);
}

#main_section_2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-btn-container {
  width: 33rem;
  margin-bottom: 1rem;
  display: grid;
  text-align: center;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 0.5rem;
}

#main-btn-container input {
  background: url("../image/재료판자.png");
  border: 0;
  width: 10rem;
  height: 3rem;
  box-shadow: var(--main-box-shadow);
}

#main-btn-container input:-webkit-autofill,
#main-btn-container input:-webkit-autofill:hover,
#main-btn-container input:-webkit-autofill:focus,
#main-btn-container input:-webkit-autofill:active {
  background-image: url("../image/재료판자.png");
  border: 0;
  outline: none;
  -webkit-text-fill-color: var(--ingredient-color);
  filter: drop-shadow(var(--main-text-shadow));
}


#main-btn-container input,
#main-btn-container input::placeholder,
#main-btn-container input:focus,
#main-btn-container input:focus::placeholder {
  color: white;
  font-family: var(--ingredient-font);
  font-size: var(--main-font-size);
  text-align: center;
  border: 0;
  outline: none;
  filter: drop-shadow(var(--main-text-shadow));
}

#recipe_search {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#recipe_search input {
  width: 30rem;
  filter: drop-shadow(var(--main-box-shadow));
}

.ingredient_error {
  font-family: var(--sub-font);
  color: var(--main-color-2);
  font-size: 1.5rem;
  border: 0.5rem;
}

#main_section_3 {
  margin-right: 2rem;
  display: flex;

}

#main_create_btn {
  background: url("../image/재료판자_2.png");
  padding: 1.5rem 1rem;
  box-shadow: var(--main-box-shadow);
  font-size: var(--main-font-size);
  position: relative;
  cursor: pointer;
}

#main_create_btn a {
  color: white;
  filter: drop-shadow(var(--main-text-shadow));
}



.check_img {
  width: 12rem;
  height: auto;
  position: absolute;
  top: -3rem;
  left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#main_create_btn:hover .check_img {
  opacity: 1;
}


@media (max-width: 1200px) {
  
  .main_contents {
    flex-direction: column;
    margin: 0;
  }

  #main_section_1 {
    margin: 2rem 0.5rem 4rem 0.5rem;
  }

  #main_section_3 {
    margin: 4rem 0.5rem;
  }

  .recipe_view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe_view_all a,
  .recipe_view_jang a {
    font-size: 2rem;
  }

  .recipe_view_all img,
  .recipe_view_jang img {
    width: 6rem;
    height: 6rem;
  }

  #main-btn-container {
    width: 42rem;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 0.5rem;
  }
  
  #main-btn-container input {
    width: 13rem;
    height: 4rem;
  }
  
  #recipe_search input {
    width: 30rem;
  }  

}


@media (max-width: 700px) {
  
  #main-btn-container {
    width: 36rem;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 0.5rem;
  }
  
  #main-btn-container input {
    width: 11rem;
    height: 4rem;
  }
  
  #recipe_search input {
    width: 30rem;
  }  

}


@media (max-width: 600px) {
  
  #main_section_1 {
    margin: 2rem 0.5rem 2.5rem 0.5rem;
  }

  #main_section_3 {
    margin: 2.5rem 0.5rem;
  }
  
  .recipe_view_all a,
  .recipe_view_jang a,
  #main_create_btn {
    margin-top: 1.5rem;
    font-size: var(--main-font-size);
  }

  .recipe_view_all img,
  .recipe_view_jang img {
    width: 5rem;
    height: 5rem;
  }
  
  .recipe_view_all span,
  .recipe_view_jang span {
    margin-bottom: 0.65rem;
  }

  .main_top {
    flex-direction: column;
  }

  #main_explain {
    margin-right: 0;
  }

  #main-add {
    margin-top: 1rem;
  }

  #main-btn-container {
    width: 26rem;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0.5rem;
  }
  
  #main-btn-container input {
    width: 12rem;
    height: 5rem;
  }

  #main-btn-container input,
  #main-btn-container input::placeholder,
  #main-btn-container input:focus,
  #main-btn-container input:focus::placeholder {
    font-size: 2rem;
  }
  
  #recipe_search input {
    width: 26rem;
  }

}


@media (max-width: 450px) {

  .recipe_view_all a,
  .recipe_view_jang a {
    font-size: 1.4rem;
    margin-top: 1.3rem;
  }

  
  #main_create_btn {
    margin-top: 1.3rem;
  }

  .recipe_view_all img,
  .recipe_view_jang img {
    width: 4rem;
    height: 4rem;
  }
  
  .recipe_view_all span,
  .recipe_view_jang span {
    margin-bottom: 0.3rem;
  }

  #main-btn-container {
    width: 20rem;
  }

  #main-btn-container input {
    width: 8rem;
    height: 3rem;
  }

  #main_explain {
    height: auto;
    font-size: 0.85rem;
    padding: 0.8rem;
  }

  #main-btn-container {
    width: 20rem;
  }
  
  #main-btn-container input {
    width: 9rem;
    height: 4rem;
  }
  
  #main-btn-container input,
  #main-btn-container input::placeholder,
  #main-btn-container input:focus,
  #main-btn-container input:focus::placeholder {
    font-size: var(--main-font-size);
  }
  
  #recipe_search input {
    width: 20rem;
    filter: drop-shadow(var(--main-box-shadow));
  }  
}


@media (max-width: 270px) {
    
  .recipe_view_all a,
  .recipe_view_jang a {
    flex-direction: column;
    align-items: center;
  }

  .recipe_view_all img,
  .recipe_view_jang img {
    margin: 0 0 0.5rem 0;
  }
}


@keyframes search-ani-hover {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(0, -0.5rem);
  }
}

@keyframes search-ani-back {
  0% {
      transform: translate(0, -0.5rem);
  }
  100% {
      transform: translate(0, 0);
  }
}


#recipe_search:hover, .recipe_view_all:hover, .recipe_view_jang:hover {
  animation: search-ani-hover 0.5s;
  animation-fill-mode: forwards;
}

#recipe_search:not(:hover), .recipe_view_all:not(hover), .recipe_view_jang:not(hover) {
  animation: search-ani-back 0.5s;
  animation-fill-mode: forwards;
}