<!DOCTYPE html>
<html lang="ko">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>장금이 요리백서</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/all_recipe_list.css'%}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap" rel="stylesheet" />
    </head>
    <body>
        {% include 'posts/header.html' %}
        <div>전체 레시피</div>
        <div>정렬bar</div>
        <div>

            {% for post in posts %}
            <article class="backgorundcolor"></article>
                <div>
                    <button onclick="onClickDetail({{post.id}})">{{post.title}}</button>
                    {% if post.photo %}
                    <p>
                        <img src="{{ post.photo.url }}" />
                    </p>
                    {% endif %}
                    <div>
                        <button class="like_{{post.id}}" onclick="onClickLike({{post.id}})">좋아요</button>
                        <div class="like_dislike">좋아요 개수: {{post.number}}</div>
                        <div>{{post.created_at}}</div>
                    </div>
                    <div>
                        {%for ele in post.ingredientList%}
                        <div>{{ele}}</div>
                        {%endfor%}
                    </div>
                </div>
            </article>
            <form action="{% url 'posts:delete' post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" , value="삭제하기" />
            </form>
            <form action="{% url 'posts:update' post.pk %}" method="get">
                {% csrf_token %}
                <input type="submit" , value="수정하기" />
            </form>
            {% endfor %}
        </div>
        <div id="list_container" style="width: 500px; height:100%; background-color: aqua" class="post_detail">
        </div>
        <script>    
            const requestDetail = new XMLHttpRequest();
            const requestLike = new XMLHttpRequest();
            const onClickDetail = (id) => {
                const url = "/detail_ajax/";
                requestDetail.open("POST", url, true);
                requestDetail.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
                );
                requestDetail.send(JSON.stringify({ id: id}));
            };
        
            requestDetail.onreadystatechange = () => {
                if (requestDetail.readyState === XMLHttpRequest.DONE) {
                if (requestDetail.status < 400) {
                    const { post_id, post_title, post_photo, post_content, post_created } = JSON.parse(requestDetail.response);
                    const element1 = document.querySelector(`.post_detail`);
                    const originHTML1 = element1.innerHTML;
                    const detail_list = originHTML1;
                    element1.innerHTML = `<div>레시피 상세보기</div>
                <article class="다른 backgorund color클래스">
                    <div class="post_title">${post_title}</div>
                    <div>
                        <div>재료</div>
                        <div>재료</div>
                        <div>재료</div>
                    </div>
                    <div>
                        <div class="post_photo"></div>
                        <div class="post_content">${post_content}</div>
                    </div>
                    <div>
                        <div>
                            <div>좋아요 개수</div>
                            <div class="post_created">${post_created}</div>
                        </div>
                    </div>
                </article>
                `;
                }
                }
            };
        
            const onClickLike = (id) => {
                const url = "/like_ajax/";
                requestLike.open("POST", url, true);
                requestLike.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
                );
                requestLike.send(JSON.stringify({ id: id}));
            };
        
            requestLike.onreadystatechange = () => {
                if (requestLike.readyState === XMLHttpRequest.DONE) {
                if (requestLike.status < 400) {
                    const { like_true, number } = JSON.parse(requestLike.response);
                    // const element = document.querySelector(`.like_{{post.id}}`);
                    const element = document.querySelector(`.like_dislike`);
                    const originHTML = element.innerHTML;
                    const like_list = originHTML;
                    location.reload();
                    if (like_true = true){
                        const count = Number(number) - 1;
                        element.innerHTML = `좋아요 개수: ${count}`;
                    }else{
                        const count = Number(number) + 1;
                        element.innerHTML = `좋아요 개수: ${count}`;
                    }
                }
                }
            };
            
        </script>
    </body>
</html>