<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장금이 요리백서</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extrahead %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="header_logo">장금이 요리백서</div>
      <div class="nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'posts:main' %}">메인으로</a></li>
        <li><a href="{% url 'posts:logout' %}">로그아웃</a></li>
        {% else %}
        <li><a href="{% url 'posts:main' %}">메인으로</a></li>
        <li><a href="{% url 'posts:login' %}">로그인</a></li>
        <li><a href="{% url 'posts:signup' %}">회원가입</a></li>
        {% endif %}
      </div>
    </header>
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
