<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장금이 레시피</title>
</head>
<body>
    <header>
        <div class="nav">
            {% if user.is_authenticated %}
                <li><a href="">장금이 메인</a></li>
                <li><a href="">로그아웃</a></li>
            {% else %}
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            {% endif %}
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>