<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장금이 요리백서</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="{% url 'posts:main' %}">
        <img src="{% static 'image/기와지붕초안.png' %}" />
      </a>
    </header>
    <section class="member_form" id="login_form">
      {% load socialaccount %}
      <form method="POST" action="">
        {% csrf_token %} {{ form }}
        <button class="login_btn">Login</button>
      </form>
      <button class="google_login_btn">
        <a href=" {% provider_login_url 'google' %}">구글 계정으로 로그인</a>
      </button>
    </section>
  </body>
</html>
