{% extends 'posts/base.html' %} {% block extrahead %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}{% block content %}
<div>
  <div>
    <div><input value="재료1" type="" /></div>
    <div><input value="재료2" type="" /></div>
    <div><input value="재료3" type="" /></div>
  </div>
</div>
<div>
  <div>
    <img src="" alt="" />
    <div><a href="{% url 'posts:all_recipe' %}">전체 레시피 보기</a></div>
  </div>
  <div>
    <img src="" alt="" />
    <div><a href="">장금이 레시피 보기</a></div>
  </div>
</div>
<div><a href="">레시피조회</a></div>
{% if user.is_authenticated %}
<div><a href="{% url 'posts:create' %}">레시피 추가하러 가기</a></div>
{% else %}
<div>
  <a href="{% url 'posts:login' %}"
    >레시피 추가하러 가기 (비로그인 상태로 클릭시 로그인 페이지로 이동)</a
  >
</div>
{% endif %} {% endblock content %}
