<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>장금이 요리백서</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
        <style>
            .one_ingredient:nth-child(odd) {
              background-color : #994d48;
            }
        </style>
        {% include 'posts/header_base.html' %}
        <span class="sort_search">
            <div style="font-size: larger">내 레시피</div>
            <form
                id="search_box"
                action="{% url 'posts:all_recipe' %}"
                method="post"
                style="margin: 0 2rem 0 2rem"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input class="search_input" name="search-name" />

                <input class="search_button" type="submit" , value="검색" />
            </form>
            <form action = "{% url 'posts:all_recipe'%}" method="get" style="width: 10rem; border: 1px solid #ffff">
                <select name="sort" style="background-color: #e5e5e5; font-family: var(--sub-font);font-size: medium;border: 0;">
                    <option value="recently" id="recently">최신순</option>
                    <option value="likes" id="likes">좋아요순</option>
                    {% comment %} <option value="comments" id="comments>"댓글순</option> {% endcomment %}
                </select>
                <button type="submit" style="width: 50px; height: 100%; border: 0;
                    background-color: var(--main-color-2);outline: 0;float: right;color: white;font-size: small;border-radius: 10px;border: 2px solid #ffff;">정렬          
                </button>
            </form>
            {% comment %} <form action="{% url 'posts:all_recipe' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="search-name"/>

                <input type="submit" , value="검색" />

            </form> {% endcomment %}
        </span>

        <div class="both_container">
            <div class="all_recipe_box">
                {% for post in posts %}
                <article class="backgorundcolor">
                    <div class="each_recipe">
                        <div class="recipe_content">
                            <button style="border: 0;position: absolute; margin-left: 20px; margin-bottom: 219px;"onclick="onClickDetail({{post.id}})"><i class="fa-solid fa-bookmark" style="color: #a64d4b; margin-left: 5px"></i>
                            </button>
                            <div class="store_or_not_{{post.id}}"></div>
                            <button onclick="onClickDetail({{post.id}})" style="font-family: var(--recipe-font); width: 60%; margin-left: 20%;margin-top: 16px;font-size: x-large; margin-bottom: 6px;                    "                  >
                                {{post.title}}
                            </button>
                            <div class="user_who_write">
                                <i class="fa-sharp fa-regular fa-circle-user" style="with: 8%"></i>
                                <div class="writer_name" style="font-size: 10px">
                                {{ post.user }}
                                </div>
                            </div>
                            {% if post.photo %}
                            <p>
                                <img style="height: 100px; width: 100px" src="{{ post.photo.url }}" />
                            </p>
                            {% endif %}
                            <div class="recipe_content_bottom">
                                <div class="like_container">
                                    <button style="border: 0" class="like_{{post.id}}" onclick="onClickLike({{post.id}})"><img
                                        src="{% static 'image/복주머니_빨강.png' %}"
                                        alt="복주머니"
                                        style="width: 20px; border: 0"/>
                                    </button>
                                    <div class="like_dislike">좋아요 개수: {{post.number}}</div>
                                </div>    
                                <div style="margin-top: -11px">{{post.created_at}}</div>
                            </div>
                            <div class="ingredient_container">
                                {%for ele in post.ingredientList%}
                                <div class="one_ingredient" style="font-weight: 600">{{ele}}</div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    </div class="delete_update">
                        <form action="{% url 'posts:delete' post.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="delete",style="border: 0" value="삭제하기" />
                        </form>
                        <form action="{% url 'posts:update' post.pk %}" method="get">
                            {% csrf_token %}
                            <input type="submit" class="update"style="border: 0" value="수정하기" />
                        </form>
                    </div>
                </article>
                {% endfor %}
            </div>
            <div id="list_container" style="width: 40rem; height: 29rem; border-radius: 0.5rem" class="post_detail">
            </div>  
        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>    
            const requestDetail = new XMLHttpRequest();
            const requestLike = new XMLHttpRequest();
            const onClickDetail = (id) => {
                const url = "/detail_ajax/";
                requestDetail.open("POST", url, true);
                requestDetail.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
                );
                requestDetail.send(JSON.stringify({ id: id}));
            };
        
            requestDetail.onreadystatechange = () => {
                if (requestDetail.readyState === XMLHttpRequest.DONE) {
                if (requestDetail.status < 400) {
                    const { post_id, post_title, post_photo, post_content, post_created } = JSON.parse(requestDetail.response);
                    const element1 = document.querySelector(`.post_detail`);
                    const originHTML1 = element1.innerHTML;
                    const detail_list = originHTML1;
                    element1.innerHTML = `
                    <article class="다른 backgorund color클래스">
                        <div class="detail_top" style="padding-top: 47px; padding-bottom: 20px">
                            <div class="post_title"  style="font-siz:40px; font-family: var( --recipe-font); margin-left: 1rem; ">${post_title}</div>
                            <div>
                                <div>재료</div>
                                <div>재료</div>
                                <div>재료</div>
                            </div>
                        <div class="detail_middle" style="margin-bottom:1.5rem">
                            <p>
                                <img src="${photo_url}"/>
                            </p>
                            <pre class="post_content" style="overflow:auto; margin-left:16px; white-space:pre-wrap; margin-right: 3%; ">${post_content}</pre>
                        </div>
                        <div class="detail_bottom" style="margin-left: 10%;">
                            <div class="like_container" style="float:right;">
                                <button
                                    style="border: 0"
                                    class="like_{{post.id}}"
                                    onclick="onClickLike({{post.id}})">
                                    <img
                                    src="{% static 'image/복주머니(빈칸).png' %}"
                                    alt="복주머니"
                                    style="width: 5rem;
                                    border: 0;
                                    background-color: #F7F5EB;"
                                    />
                                </button>
                                <div class="like_dislike" style="position:absolute;"> {{post.number}}</div>
                            </div>
                            <div class="post_created"  style="font-size:medium; margin-top:2.5rem;">${post_created}</div>
                            </div>
                        </div>
                    </article>
                    `;
                    }
                    }
                };
        
            const onClickLike = (id) => {
                const url = "/like_ajax/";
                requestLike.open("POST", url, true);
                requestLike.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
                );
                requestLike.send(JSON.stringify({ id: id}));
            };
        
            requestLike.onreadystatechange = () => {
                if (requestLike.readyState === XMLHttpRequest.DONE) {
                if (requestLike.status < 400) {
                    const { like_true, number } = JSON.parse(requestLike.response);
                    // const element = document.querySelector(`.like_{{post.id}}`);
                    const element = document.querySelector(`.like_dislike`);
                    const originHTML = element.innerHTML;
                    const like_list = originHTML;
                    location.reload();
                    if (like_true = true){
                        const count = Number(number) - 1;
                        element.innerHTML = `좋아요 개수: ${count}`;
                    }else{
                        const count = Number(number) + 1;
                        element.innerHTML = `좋아요 개수: ${count}`;
                    }
                }
                }
            };
            
            //수정, 삭제 버튼 해당 유저만 보이도록 구현
            $username = $("#user_name").text()
            $(".writer_name")[0].innerHTML
            for(i = 0; i < $(".writer_name").length; i++){
                if($("#user_name").text() != $(".writer_name")[i].innerHTML){
                  
                  $(".update")[i].type = "hidden";
                  $(".delete")[i].type = "hidden";
                }
              }
        </script>
        <script src="https://kit.fontawesome.com/6fbcf91afd.js" crossorigin="anonymous"></script>
    </body>

</html>
