{% extends 'game/base.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <div>레시피 제목을 입력하세요: </div>
                <input name="" placeholder="레시피 제목" value="{{}}"/>
            </div>
            <div>
                <input name="" placeholder="레시피 선택" value="{{}}"/>
                <select name="search_mode" id="search_mode">
                    <option value="">레시피 선택</option>
                    {% for ??? in ??? %}
                        <option value="{{레시피}}">{{레시피}}</option>
                    {% endfor %}
                </select>
                <!-- 레시피 식재료 -->
            </div>
            <div>사진 넣기</div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <!-- 레시피 설명 -->
        </div>
        <div>
            <input type="submit" , value="레시피 저장" />
        </div>
    </form>
{% endblock content %}