<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장금이 요리백서</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recipe_create_page.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'posts/header.html' %}
    <form
      action="{% url 'posts:create' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div id="create_main_box">
        <div class="recipe_title">
          <div>레시피 제목을 입력하세요:</div>
          <input name="title" placeholder="레시피 제목" />
        </div>
        <div id="btn-container">
          <input
            name="ingredient[]"
            list="ingredient_list"
            placeholder="재료"
          />
          <datalist id="ingredient_list">
            {%for ele in ingredientList %}
            <option>{{ele}}</option>
            {%endfor%}
          </datalist>
          <input
            name="ingredient[]"
            list="ingredient_list"
            placeholder="재료"
          />
          <datalist id="ingredient_list">
            {%for ele in ingredientList %}
            <option>{{ele}}</option>
            {%endfor%}
          </datalist>
          <input
            name="ingredient[]"
            list="ingredient_list"
            placeholder="재료"
          />
          <datalist id="ingredient_list">
            {%for ele in ingredientList %}
            <option>{{ele}}</option>
            {%endfor%}
          </datalist>
        </div>

        <br />
        <input
          type="file"
          name="photo"
          onchange="readURL(this);"
          accept=".jpg, .jpeg, .png"
        />
        <img style="width: 200px; height: 200px border:none" id="preview" />
        <textarea name="content" placeholder="레시피 소개 내용"></textarea>
      </div>
      <br /><br />
      <textarea name="content" placeholder="재료1 정량"></textarea>
      <textarea name="content" placeholder="재료2 정량"></textarea>
      <textarea name="content" placeholder="재료3 정량"></textarea><br /><br />
      <textarea name="content" placeholder="양념재료"></textarea>

      <div>
        <input type="submit" , value="레시피 저장" />
      </div>
    </form>
    <button id="add">+</button>

    <script>
            const $addBtn = document.getElementById("add");
            const $btnParent = document.getElementById("btn-container");

      $addBtn.addEventListener("click", () => {
          let template = `
          <input name="search_keyword" list="ingredient_list" placeholder="재료" />
          <datalist id="ingredient_list">
              {%for ele in ingredientList %}
              <option>{{ele}}</option>
              {%endfor%}
          </datalist>
          `;

                const $newBtn = document.createElement("span");
                $newBtn.name = "ingredient[]";
                $newBtn.list = "ingredient_list";
                $newBtn.placeholder = "재료";
                $newBtn.innerHTML = template;
                $btnParent.appendChild($newBtn);

            });

            {% comment %} 이미지 미리보기 {% endcomment %}
            function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function(e) {
                    document.getElementById('preview').src = e.target.result;
                  };
                  reader.readAsDataURL(input.files[0]);
                } else {
                  document.getElementById('preview').src = "";
                }
              }
    </script>
  </body>
</html>
